<div class="dashboard-container">
    <!-- CARDS -->
     <div class="cards-grid">
        <app-metric-card 
            *ngFor="let card of infoCards" 
            [title]="card.title" 
            [subtitle]="card.subtitle">
        </app-metric-card>
    </div>

    <!-- GRÁFICOS -->
    <div class="charts-grid" *ngIf="!isLoading && generalAnalysis">
        <app-pie-chart *ngIf="generalAnalysis.classificacoes?.length" [data]="generalAnalysis.classificacoes"></app-pie-chart>
        <app-bar-chart *ngIf="generalAnalysis.tipoTransacao?.length" [data]="generalAnalysis.tipoTransacao"></app-bar-chart>
    </div>
    <div class="loading-message" *ngIf="isLoading">
        <span class="loading-text">Carregando dados...</span>
    </div>

      <!-- LISTAGEM DE EMPRESAS -->
    <div class="companies-grid">
        <app-company-list [data]="companies"></app-company-list>
    </div>
</div>